#qcv_handle {
	display: block;
	width: 1px;
	height: 1px;
	text-align: right;
	cursor: pointer;
	top: 32px;
}
#qcv_container {
	position: relative;
	z-index: 999;
	margin-top: 15px;
	width: 330px;
	display: none;
	left: -250px;
	top: 0px;
	padding: 20px;
	text-align: left;
	cursor: default;
}
#qcv_container a {
	text-decoration: none;
}
.qcv_icon {
	font-family: "FontAwesome";
	font-size:22px;
}
.qcv_list {
	max-height: 60vh;
	overflow-y: auto;
}
.qcv_item {
	display: block;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 10px;
	min-height: 50px;
}
.qcv_item:last-child {
	border-bottom: none;
}
.qcv_item_title {
	font-weight: bold;
	min-height: 50px;
}
/*.qcv_item_subtotal {
	font-size: .9em;
	font-style: italic;
	font-weight: normal;
	line-height: 1.1em;
}*/
.qcv_item img {
	float: right;
}
.qcv_items_subtotal {
	padding: 10px 0;
	border-top: 1px dotted #ddd;
}
.qcv_items_subtotal.qcv_empty_cart {
	border-top: none;
}
.qcv_button {
	width: 100%;
	/*color: #000;
	text-transform: uppercase;
	text-align: center;*/
	padding: 10px;
	display: block;
}
/*.qcv_button_cart {
	background-color: rgba(195,224,205,1.00)
}
.qcv_button_checkout {
	background-color: rgba(158,202,211,1.00)
}*/
/* arrow */
#qcv_container:after, #qcv_container:before {
	bottom: 100%;
	left: 78%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#qcv_container:after {
	border-color: rgba(206, 206, 206, 0);
	border-bottom-color: #f9f8f6;
	border-width: 8px;
	margin-left: -8px;
}
#qcv_container:before {
	border-color: rgba(206, 206, 206, 0);
	border-bottom-color: #cecece;
	border-width: 12px;
	margin-left: -12px;
}
